{% extends 'partials/base.html' %}
{% block title %} Order page{% endblock %}

{% block content %}

{% include 'partials/topnav.html' %}
 <!--Table-->
 <div class="container">
    
    <div class="row my-3">
        <div class="col-md-5">

        </div>
        <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
            <div class="col-md-12 mx-auto"> <!-- Use mx-auto to center the column -->
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Order by</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orders in orders %}
                        <tr>
                            <td>{{ orders.product.name }}</td>
                            <td>{{ orders.product.category }}</td>
                            <td>{{ orders.order_quantity }}</td>
                            <td>${{ orders.total_price }}</td>
                            <td>{{ orders.staff.username }}</td>
                            <td>{{ orders.date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>



<!--End Table-->

{% endblock %}